<div class="flex flex-wrap justify-center ">
  <div  class="w-full max-w-3xl">
    <h3 class="text-2xl font-bold my-4 translate-x-48">Form</h3>
    <form [formGroup] = "loginForm" (ngSubmit)= "getValues()" class="bg-white w-full max-w-2xl shadow-md rounded px-8 pt-6 pb-8 mb-4">
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
          Name
        </label>
        <input class="shadow appearance-none border rounded w-full py-2 px-2 text-gray-800 leading-tight focus:outline-none focus:shadow-outline"  type="text" formControlName = "name" (input) = "onDataChange($event)" placeholder="Name">
      </div>
      <div class="mb-6">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
          Email
        </label>
        <input class="shadow appearance-none border rounded w-full py-2 px-2 text-gray-800 mb-3 leading-tight focus:outline-none focus:shadow-outline"  type="email" formControlName="email" value="{{ emailValue }}@gmail.com" placeholder="@gmail.com">
      </div>
      <div class="mb-6">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="mobile">
          Mobile
        </label>
        <input class="shadow appearance-none border rounded w-full py-2 px-2 text-gray-800 mb-3 leading-tight focus:outline-none focus:shadow-outline" type="text" formControlName="mobile"  placeholder="Mobile">
      </div>
      <div class="mb-6">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="address">
          Address
        </label>
        <input class="shadow appearance-none border rounded w-full py-2 px-2 text-gray-800 mb-3 leading-tight focus:outline-none focus:shadow-outline"  type="text" formControlName="address" placeholder="Address">
      </div>
    
    <div class="form-group form-check translate-x-20 mb-6">
      <h3 class="text-2xl font-bold my-4">Optional</h3>
      <input type="checkbox"
        class="form-check-input appearance-none h-4 w-4 border border-gray-300 rounded-sm bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain mr-2 cursor-pointer"
        id="exampleCheck87" (change) = "onCheckboxChange($event)">
      <!-- <label class="form-check-label inline-block text-gray-800" for="exampleCheck87">Send me a copy of this message</label> -->
    </div>
    <div *ngIf="display; then contactBlock"></div>
    <ng-template #contactBlock>
    
    <div class="block p-6 rounded-lg shadow-lg bg-white max-w-2xl">
        <div class="form-group mb-6">
          <input type="text" class="form-control block
            w-full
            px-3
            py-1.5
            text-base
            font-normal
            text-gray-700
            bg-white bg-clip-padding
            border border-solid border-gray-300
            rounded
            transition
            ease-in-out
            m-0
            focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" id="exampleInput7"
            placeholder="State" formControlName = "state">
        </div>
        <div class="form-group mb-6">
          <input type="email" class="form-control block
            w-full
            px-3
            py-1.5
            text-base
            font-normal
            text-gray-700
            bg-white bg-clip-padding
            border border-solid border-gray-300
            rounded
            transition
            ease-in-out
            m-0
            focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" id="exampleInput8"
            placeholder="Zone" formControlName = "zone">
        </div>
        <div class="form-group mb-6">
          <input type="email" class="form-control block
            w-full
            px-3
            py-1.5
            text-base
            font-normal
            text-gray-700
            bg-white bg-clip-padding
            border border-solid border-gray-300
            rounded
            transition
            ease-in-out
            m-0
            focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" id="exampleInput8"
            placeholder="Postal" formControlName = "postal">
         
        </div>
        
    </div>
  </ng-template>
  <div class="flex items-center justify-between">
    <button class="bg-blue-500 hover:bg-blue-800 text-white font-bold py-2 px-4 mx-4 rounded focus:outline-none focus:shadow-outline" type="submit">
      Sign In
    </button>
    <a class="inline-block align-baseline font-bold text-sm text-blue-600 hover:text-blue-800" href="#">
      Forgot Password?
    </a>
  </div>
  </form>
  </div>
  
</div>

<div>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Mobile</th>
        <th>Address</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let detail of UserList">
        <td><span>{{detail.name}}</span></td>
        <td><span>{{detail.email}}</span></td>
        <td><span>{{detail.mobile}}</span></td>
        <td><span>{{detail.address}}</span></td>
      </tr>
    </tbody>
  </table>
</div>