.navbar {
    display: flex;
    justify-content:space-around;
    margin: 15px auto;
    }
span{
    padding-right: 1rem;
}

mat-sidenav-container {
    height: 70vh;
}
mat-sidenav, mat-sidenav-content{
    padding: 16px;
}

mat-sidenav{
    background-color: lightcoral;
    width: 200px;
}

mat-list-item {
    margin-top: 5px;
}

mat-grid-tile {
    background-color: rgb(135, 135, 174);
}

mat-card{
    max-width: 400px;
    background-color: rgb(73, 145, 171);
    color: white;
}

.header-avatar {
    background-image: url(../../assets/images/avatar.JPG);
    background-size: cover;
}